* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --colortexto: #44566c;
    --colortexto2: white;
    --backgroundcolor: #44566c;
    --miClor: pink;
}


/*Selector para genera reglas, define variables o funciones*/
html,
body {
    min-height: 100vh;
    font-family:'segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px !important;
}

body {
    color: var(--colortexto);
    font-size: 25px;
    background: var(--backgroundcolor);
    background-image: url(../resources/triangles-top.svg), url(../resources/triangles-bottom.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    background-size: inherit;
    padding-top: 80px;
    padding-left: 70px;
}

.por_clase {
    color:var(--colortexto)
}

#por_id {
    color: rgb(230, 26, 26);
}

.phone::before {
    content: '\260E';
}

.phone::after {
    content: '\260E';
}



.resume{
    background-color: white;
    background-color:  #fff;
    border-radius: 20px;
    padding: 1.875rem;
    position: relative;
    transition: box-shadow .3s ease-in-out;
    box-shadow: 0 2.5rem 3.125rem rgba(103, 118 , 128, 0.1) !important;
    width: 75%;
    margin-left: auto;
}

.menu-circle{
    background-color: rgb(28, 27, 27);
    border-radius: 50% 1.25rem 50% 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.75rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 3.75rem;
    z-index: 2;
}
.timeline-content>div>div {
    flex-grow: 1;
}
.inner-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 3.75rem;
    padding-right: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.js-menu{
    width: 80%;
}

.js-menu > .nav{
    list-style: none;
    display: flex;
    width: 0%;
    justify-content: space-evenly;
    background-color: rgb(30, 27, 27);
    height: 100%;
    align-items: center;
    border-radius: 1.5rem 0 0 1.5rem;
    transition: 0.5s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
}

    .nav a{
        color: white;
        font-weight: 500;
        text-decoration: none;
        opacity: 0;
    }

    .js-menu.active > .nav {
        width: 70%;
    }
    .js-menu.active > .nav a{
        opacity: 1;
        transition: 0.7s ease-in-out;
    }
    .nav a:nover{
        text-decoration: underline;
    }

    .show{
        pointer-events: auto;
        opacity: 1;
        content: '\2639';
    }

h2.title {
    color: rgb(50, 56, 56);
    font-size: 2rem;
    font-weight: 500;
    position: relative;
    margin-bottom: 2.5rem;
}

h5.title {
    color: rgb(0, 0, 0);
    font-size: 1rem;

    position: relative;

}

.bordered::before{
    content: '';
    background-color: rgb(209, 0, 0);
    border-radius: 0.5rem;
    height: 0.3125rem;
    position: absolute;
    bottom: -1rem;  
    left: 0;
    width: 3.125rem;
    z-index: 1;
}

.services-content{
    border-top: 1px solid #44566c;
    margin-top: 2rem;
    padding-top: 1rem;
}

.my-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 1rem;
}

.my-services > div{
    align-items: center;
    background-color: #f0f0f6;
    border-radius: 10px;
    display: flex;
    padding: 1.2rem 1rem;
}

.my-services >div span{
    color: rgb(57, 45, 45);
    font-size: 40px !important;
    right: 1.3rem;
}

.my-services h3{
    font-weight: 500;
    margin-bottom: 0;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.profile{
    width: 280px;
    background-color: rgb(33, 32, 32);
    border-radius: 20px;
    box-shadow: 0 2.5rem 3.125rem rgba(214, 205, 205, 0.1) !important;
    text-align: center;
    padding-top: 1rem;
    position: fixed;
}

.profile a{
    color: #777b7c;
    transition: all .3s ease-in-out;
}

.profile a:hover{
    color: #ff2c25;
    transition: all .3s ease-in-out;
}

.my-photo{
    border-radius: 8px;
    max-height: 11.25rem;
    max-width: 11.25rem;
    height: 11.25rem;
    width: 8.25rem;
    margin-top: -7rem;
    margin-bottom: 1.5625rem;
    margin-left: auto;
    margin-right: auto;
    transition: all .3s ease-in-out;
}

.title{
    margin-bottom: 0.875rem;
    color: white;
}

.badge-profile{
    background-color: #f0f0f6;
    color: #44566c;
    font-size: 0.9375rem;
    font-weight: 400;
    border-radius: 10rem;
    padding: 0.5rem 1rem;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}



.social {
    display: flex;
    margin: 2rem auto 1rem auto;
    justify-content: space-evenly;
    max-width: 200px;
    align-items: center;
    

}

.info{
    background-color: #f5f8f9;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 0;
    border-radius: 0 0 20px 20px;
    margin-top: 70px;
}

.contacts-block {
    list-style: none;
    padding: 1.875rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

.contacts-block-item{
    display: flex;
    align-items: center;
    margin-bottom: 0.6875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn{
    background-color: rgb(252, 50, 50);
    border-radius: 20px;
    border: 0;
    box-shadow: 0 0.5rem 1rem rgb(255, 255, 255), rgba(48, 76, 253, 0.15);
    color: var(--colortexto2) !important;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    padding: 0.9375rem 2rem 0.875rem;
    transition: .4s ease-in-out;
    position: relative;
    white-space: nowrap;
}


.btn:hover{
    background-color: rgb(63, 38, 38);

}

.main-content {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.portfolio {
    column-count: 3;
    column-gap: 10px;
    row-gap: 12px;
}

.portfolio img{
    max-width: 100%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
    text-align: center
}

.modal img {
    max-height: 100%;
    margin: auto;
}

.showModal {
    display: block;
    transition: 0.5s  ease-in;
}

.timeline-content{
    margin-top: 3rem;
}

.timeline-content > div{
    margin-top: 2rem;
    display: flex;
}

.timeline{
    margin-top: 1.8125rem;
    padding-left: 0.5rem;
}

.timeline_item{
    border-left-color: #f0f0f6;
    border-left-width:  1px;
    border-left-style: solid;
    padding-bottom: 0.5625rem;
    position: relative;
    padding-left: 1.375rem;
}

.timeline_item::before{
    content: '';
    background-color:  darkturquoise;
    box-shadow: 0 0 0 0.1875rem rgba(48, 75, 253, 0.158);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -0.3215rem;
}

.timeline_title{
    margin-bottom: 0;
    position: relative;
    top: -0.3125rem;
}

.title--s{
    font-size: 1rem;
}

.timeline_period{
    color: #9ca6af;
    font-size: 0.875rem;
}

.timeline_description{
    margin-top: 0.5rem;
}

footer{
    padding: 2.5rem;
    text-align: center;
    color: #ebedf9;
}


@media (max-width: 1400px) {
    .main-content {
        max-width: 1100px;
    }

    .resume {
        width: 100%;
    }

    .my-services {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 980px) {


    .main-content {
        max-width: 100%;
        margin-top: 5rem;
        margin-right: 2rem;
        flex-direction: column;
    }

    .profile {
        position: relative;
        width: 95%;
        margin: auto;
    }

    .resume {
        width: 95%;
        margin: auto;
    }

    .my-services {
        grid-template-columns: 1fr;
    }

    .timeline-content > div {
        flex-direction: column;
    }

    .modal img {
    max-width: 80%;
    max-height: 80vh; 
    display: block; 
    margin: auto;
    margin-top: 4rem;
    border-radius: 10px; 
}

    .modal img {
        max-width: 90%;
        max-height: 60vh;
    }
}

@media (max-width: 768px) {
    /* Contenedores más pequeños en móviles */
    .main-content,
    .profile,
    .resume {
        width: 98%;
        margin: auto;
    }

    body {
        padding-top: 200px; 
    }
    .my-services {
        grid-template-columns: 1fr;
    }

    .modal img {
    max-width: 80%;
    max-height: 80vh; 
    display: block; 
    margin: auto;
    margin-top: 4rem;
    border-radius: 10px; 
}

    .modal img {
        max-width: 90%;
        max-height: 60vh;
    }
}
